DATABASE_URL="postgresql://neondb_owner:npg_0QwD5jUZCkxe@ep-delicate-math-ab4w9k5z.eu-west-2.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="your-nextauth-secret-here-use-openssl-rand-hex-32"
NEXTAUTH_URL="http://localhost:3000"

